<header>
	<div class="header" style="background-image: url('{{ .Site.Params.header.background }}');">
		<a href="{{ .Site.Params.instagram.link }}" target="_blank">
			<div class="instagram">
				<i class="fa fa-instagram"></i>
			</div>
		</a>
		
		<div class="logo">
			<a href="/"><img src="{{ .Site.Params.logos.header }}" alt="logo {{ .Site.Title }}"></a>
		</div>

		<div class="nav">
			<a href="#event-info">Event Info</a>
			▪️
			<a href="#route">Route</a>
			▪️
			<a href="#participants">Participants</a>
		</div>
		
    </div>
</header>
